<template>
  <div id="app">
    <p class="logo">Teamvue</p>
    <AppNav></AppNav>

    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
import AppNav from './components/appNav.vue'

export default {
  name: 'app',
  components: {
    AppNav
  }
}
</script>

<style>
  @import './assets/css/base.css';
</style>
