<template>
	<section>
		<h1 class="section-title">Add team member</h1>

		<p class="info-msg" v-if="form.msg">{{form.msg}}</p>

		<form @submit.prevent="onSubmit">
			<p>
				<label>Name</label>
				<input type="text" name="name" v-model="form.name" autofocus="" />
			</p>

			<p v-if="!form.picture">
				<label>Picture</label>
				<input type="file" @change="onFileChange" name="picture">
			</p>
			<p v-else>
				<img :src="form.picture" />
				<button @click="removePicture">Remove picture</button>
			</p>

			<p>
				<label>Job Title</label>
				<input type="text" name="title"  v-model="form.title"/>
			</p>

			<p>
				<label>Location</label>
				<input type="text" name="location" v-model="form.location" />
			</p>

			<p>
				<label>Department</label>
				<select v-model="form.department">
					<option name="department" value="Engineering">Engineering</option>
					<option name="department" value="Design">Design</option>
					<option name="department" value="QA">QA</option>
				</select>
			</p>

			<p>
				<input type="submit" value="Add"/>
			</p>
		</form>
	</section>
</template>

<script>
	import axios from 'axios'
	import { store } from '../store.js';

	export default {
		name: 'addTeamMember',
		data() {
			return {
				form: {
					name: '',
					picture: '',
					title: '',
					location: '',
					department: 'Engineering',
					msg: ''
				}
			}
		},
		watch: {
			'$route'() {
				this.form.msg = '';
			}
		},
		methods: {
			onFileChange(e) {
				var files = e.target.files || e.dataTransfer.files;
				if (!files.length)
					return;
				this.createPicture(files[0]);
			},
			createPicture(file) {
				var reader = new FileReader();
				var vm = this;

				reader.onload = (e) => {
					vm.form.picture = e.target.result;
				};
				reader.readAsDataURL(file);
			},
			removePicture: function() {
				this.form.picture = '';
			},
			onSubmit() {
				var team_member = {
					name: this.form.name,
					picture: this.form.picture,
					title: this.form.title,
					location: this.form.location,
					department: this.form.department
				}

				// Validate input
				if (team_member.name && team_member.picture && team_member.title && team_member.location && team_member.department) {
					// Fetch members from API
					axios.post('/api/members', team_member)
					.then(function(resp) {
						// Push team member to the store members array
						store.pushMemberAction(resp.data.data.member)
					})
					.catch(function(err) {
						this.form.msg = 'Oops, something went wrong.';
					});

					// Reset form
					this.form.name = '';
					this.form.picture = '';
					this.form.title = '';
					this.form.location = '';
					this.form.department = 'engineering';

					// Display success message
					this.form.msg = "Team member successfully added!";
				}
				else {
					// Display error
					this.form.msg = "Please complete the form";
				}
			}
		}
	}
</script>

<style scoped>
	.info-msg {
		background: lightyellow;
		padding: 10px 15px;
		border-radius: 10px;
		display: inline-block;
		margin-bottom: 30px;
		color: #222;
	}

	form {
	}

	form label {
		display: block;
		margin-bottom: 6px;
		font-weight: 500;
	}

	form p + p {
		margin-top: 25px;
	}

	form p img {
		width: 100px;
		margin-right: 15px;
		display: inline-block;
		vertical-align: middle;
	}

	form input[type=text] {
		border: 2px solid #ccc;
		padding: 5px 10px;
		box-sizing: border-box;
		width: 100%;
		border-radius: 4px;
		height: 40px;
	}

	form input[type=text]:focus {
		border-color: #009eff;
	}

	form input[type=submit] {
		background: #009eff;
		border: 0;
		padding: 8px 10px;
		border-radius: 5px;
		width: 100px;
		color: #fff;
		font-weight: 700;
	}
</style>
