<template>
  <nav>
      <router-link to="/team">Team Index</router-link>
      <router-link to="/add">Add member</router-link>
  </nav>
</template>

<script>
export default {
  name: 'appNav'
}
</script>

<style scoped>
</style>
