<template>
	<section>
		<h1 class="section-title">Team members</h1>

		<div class="filters">
			<div class="filter">
				<p class="filter-title">Name</p>
				<input type="text" placeholder="Filter by name..." v-model="filters.name">
			</div>

			<div class="filter">
				<p class="filter-title">Title</p>
				<input type="text" placeholder="Filter by title..." v-model="filters.title">
			</div>

			<div class="filter">
				<p class="filter-title">Location</p>
				<input type="text" placeholder="Filter by location..." v-model="filters.location">
			</div>

			<div class="filter">
				<p class="filter-title">Department</p>

				<select name="department" v-on:change="updateDepartment">
					<option value="all">All</option>
					<option value="engineering">Engineering</option>
					<option value="design">Design</option>
					<option value="qa">QA</option>
				</select>
			</div>
		</div>

		<div class="content-box">
			<p v-if="apiError" class="error">{{apiError}}</p>

			<div class="members-box" v-if="paginatedFilteredMembers.length">
				<ul class="members">
					<li v-for="(member, index) in paginatedFilteredMembers" v-bind:key="member.id">
						<img v-if="member.picture" class="picture" v-bind:src="member.picture" >

						<span class="info">
							<span class="name">{{member.name}}</span>
							<span class="title">{{member.title}}</span>
							<span class="location">{{member.location}}</span>
							<span class="department">{{member.department}}</span>
						</span>

						<button class="remove" v-on:click="removeMember(member.id)">Remove</button>
					</li>
				</ul>

				<div class="pagination">
					{{pageCount}} {{ 'Page' | pluralize(pageCount) }}
					<button @click="prevPage" :disabled="filters.page == 1">Prev</button>
					<button @click="nextPage" :disabled="filters.page >= pageCount">Next</button>
				</div>
			</div>
			<p v-else class="empty">No team members.</p>
		</div>
	</section>
</template>



<script>
	import axios from 'axios'
	import { store } from '../store.js';

	export default {
		name: 'teamIndex',
		data() {
			return store.state
		},
		computed: {
			filteredMembers() {
				var filtered_members = this.members;

				var department_filter = this.filters.department;
				var name_filter = this.filters.name;
				var title_filter = this.filters.title;
				var location_filter = this.filters.location;

				// Apply name filter if field is not empty
				if (name_filter) {
					filtered_members = filtered_members.filter(function(member) {
						return member.name.toLowerCase().includes(name_filter.toLowerCase());
					});
				}

				// Apply title filter if field is not empty
				if (title_filter) {
					filtered_members = filtered_members.filter(function(member) {
						return member.title.toLowerCase().includes(title_filter.toLowerCase());
					});
				}

				// Apply location filter if field is not empty
				if (location_filter) {
					filtered_members = filtered_members.filter(function(member) {
						return member.location.toLowerCase().includes(location_filter.toLowerCase());
					});
				}

				// Apply department filter if select is not default
				if (department_filter != "all") {
					filtered_members = filtered_members.filter(function(member) {
						return member.department.toLowerCase() === department_filter;
					});
				}

				return filtered_members;
			},
			paginatedFilteredMembers() {
				// Paginate results using filters
				var page = this.filters.page;
				var filtered_members = this.filteredMembers;

				var start = (page - 1) * this.membersPerPage;
					var end = start + this.membersPerPage;

				filtered_members = filtered_members.slice(start, end);

				return filtered_members;
			},
			pageCount(){
				return Math.ceil(this.filteredMembers.length / this.membersPerPage);
			}
		},
		created() {
			this.fetchData()
		},
		watch: {
			'$route': 'fetchData'
		},
		methods: {
			fetchData() {
				// Fetch members from API
				axios.get('/api/members')
				.then(function(resp) {
					// Save response to store
					store.setMembersAction(resp.data.data.members)
				})
				.catch(function() {
					// Display error
					store.setApiErrorAction('Oops, something went wrong.');
				});
			},
			removeMember(member_id) {
				var r = confirm("Are you sure you want to remove this user?");
				if (r == true) {

					axios.delete('/api/members/' + member_id)
					.then(function() {
						// Remove member from store
						store.removeMemberAction(member_id);
					})
					.catch(function() {
						// Display error
						store.setApiErrorAction('Oops, something went wrong.');
					});
				}
			},
			updateDepartment(event) {
				this.filters.department = event.target.value;
			},
			nextPage(){
				this.filters.page++;
			},
			prevPage(){
				this.filters.page--;
			}
		},
		filters: {
			pluralize: function(word, amount) {
				if (!word || !amount) return ''
				return amount > 1 ? word + "s" : word;
			}
		}
	}
</script>

<style scoped>
	section {
		overflow: hidden;
	}

	.error {
		margin-bottom: 20px;
	}

	.filters {
		width: 200px;
		float: left;
		background: #f0f0f0;
		padding: 15px;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.filters .filter + .filter  {
		margin-top: 30px;
	}

	.filters .filter-title {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 10px;
		font-weight: 500;
		color: #444;
		border-bottom: 1px dotted;
		padding-bottom: 4px;
	}

	.filters input[type=text] {
		border: 2px solid #ccc;
		padding: 5px 10px;
		box-sizing: border-box;
		width: 100%;
		border-radius: 4px;
	}

	.filters input[type=text]:focus {
		border-color: #009eff;
	}

	.filters select {
		width: 100%;
	}

	.content-box {
		float: left;
		margin-left: 50px;
		width: calc(100% - 250px);
	}

	.pagination {
		margin-top: 30px;
	}

	.members li {
		position: relative;
	}

	.members li + li {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 3px solid #ddd;
	}

	.members li .picture {
		height: 40px;
		width: 40px;
		margin-right: 20px;
		border-radius: 50%;
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
		box-sizing: border-box;
		padding: 10px;
		float: left;
	}

	.members li span {
		display: block;
	}

	.members li .info {
		margin-left: 60px;
	}

	.members li .info span + span {
		margin-top: 6px;
	}

	.members li .name {
		font-weight: 700;
	}

	.members li .department {
		display: inline-block;
		background: #ddd;
		padding: 4px 10px;
		border-radius: 20px;
		font-size: 13px;
	}

	.members li .remove {
		position: absolute;
		top: 10px;
		right: 0;
	}
</style>
